<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 0 0 0 1 * ? -->
	<!-- 1.秒(0-59) -->
	<!-- 2.分钟(0-59) -->
	<!-- 3.小时(0-23) -->
	<!-- 4.月份中的是期(1-31) -->
	<!-- 5.月份(1-12或SUN-DEC) -->
	<!-- 6.星期中的日期(1-7或SUN-SAT) -->
	<!-- 7.年份(1970-2099) -->
	<!-- 例子: -->
	<!-- 0 0 10,14,16 * * ? 每天上午10点,下午2点和下午4点 -->
	<!-- 0 0,15,30,45 * 1-10 * ? 每月前10天每隔15分钟 -->
	<!-- 30 0 0 1 1 ? 2012 在2012年1月1日午夜过30秒时 -->
	<!-- 0 0 8-5 ? * MON-FRI 每个工作日的工作时间 -->
	<!-- 0 0/2 * * * ? 时间间隔为每2分钟执行一次 -->

	<!-- For times when you just need to invoke a method on a specific object -->
	<bean id="spiderJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.devzb.metal.quartz.SpiderJob" />
		<property name="durability" value="true" />
		<property name="jobDataMap">
			<map>
				<entry key="metalZincPriceMapperExt" value-ref="metalZincPriceMapperExt" />
				<entry key="metalSmsMapperExt" value-ref="metalSmsMapperExt" />
				<entry key="metalMobileMapperExt" value-ref="metalMobileMapperExt" />
			</map>
		</property>
	</bean>

	<!-- Run the job every 60 seconds with initial delay of 30 second -->
	<bean id="spiderTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="spiderJobDetail" />
		<property name="startDelay" value="10000" />
		<property name="repeatInterval" value="3600000" />
	</bean>

	<!-- Always run at 20:00 everyday -->
	<!-- <bean id="secondCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="secondComplexJobDetail" />
		<property name="cronExpression" value="0 0 20 ? * *" />
	</bean> -->


	<!-- Scheduler factory bean to glue together jobDetails and triggers to  Configure Quartz Scheduler -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="spiderJobDetail" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="spiderTrigger" />
			</list>
		</property>
	</bean>
</beans>